@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

:root{
    --font-1: Montserrat;
    --main-bg-color: #FAFAFA;
    --color-1: #4053FF;
    --color-2: #00F0FF;
}